// Specific CSS for your home-page
h1 {
  color: red;
}

.wrapper-banner {
  height: 800px;
  background-image: url('https://images.unsplash.com/photo-1563630440878-c25af103219a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
}
